In [107]:
import numpy as np 
import pandas as pd
import functools
import time
from names_dataset import NameDataset
from faker import Faker

# loading data

In [106]:
fa_fake = Faker('fa')
en_fake = Faker()

In [108]:
name_stat = NameDataset()
print("done")

done

In [247]:
x=max(name_stat.search("ali")['first_name']['gender'])

In [248]:
x

'Male'

In [249]:
name_stat.search("ali")['first_name']['gender'][x]

0.942

In [199]:
def make_name():
    return np.random.choice([fa_fake.name(), en_fake.name()], p=[0.5, 0.5])

In [200]:
my_dict = {
    "name": [make_name() for _ in range(100)]
}

In [201]:
my_DataFrame = pd.DataFrame(my_dict)

In [207]:
my_DataFrame

                          name
0                Benjamin Dyer
1              Angela Morrison
2                  پریا لاهوتی
3                Bobby Barrett
4                 Stacy Garcia
..                         ...
95  سرکار خانم دکتر رها تهرانی
96                 Andrew Khan
97                   زينب یزدی
98               Eric Anderson
99                 زينب مهدیان

[100 rows x 1 columns]

# Extract first name and last name

In [209]:
my_DataFrame['First name'] = my_DataFrame['name'].apply(lambda firstname: firstname.split(" ")[0])

In [215]:
my_DataFrame['last name'] = my_DataFrame['name'].apply(lambda lastname: lastname.split(" ")[-1])

In [216]:
my_DataFrame

                          name First name last name
0                Benjamin Dyer   Benjamin      Dyer
1              Angela Morrison     Angela  Morrison
2                  پریا لاهوتی       پریا    لاهوتی
3                Bobby Barrett      Bobby   Barrett
4                 Stacy Garcia      Stacy    Garcia
..                         ...        ...       ...
95  سرکار خانم دکتر رها تهرانی      سرکار    تهرانی
96                 Andrew Khan     Andrew      Khan
97                   زينب یزدی       زينب      یزدی
98               Eric Anderson       Eric  Anderson
99                 زينب مهدیان       زينب    مهدیان

[100 rows x 3 columns]

# gender prediction

In [256]:
def nameTOgender(name, predict=False):
    info = name_stat.search(name)['first_name']
    if info is None:
        return None
    
    gender_name = max(info['gender'], key=info['gender'].get)
    
    if predict:
        return info['gender'][gender_name]
    
    return gender_name

In [257]:
my_DataFrame["gender"] = my_DataFrame["First name"].apply(lambda gender: nameTOgender(gender))

# Extras

In [260]:
my_DataFrame["gender prop"] = my_DataFrame["First name"].apply(lambda name: nameTOgender(name, predict=True))

In [261]:
my_DataFrame

                          name First name last name  gender  gender prop
0                Benjamin Dyer   Benjamin      Dyer    Male        0.992
1              Angela Morrison     Angela  Morrison  Female        0.992
2                  پریا لاهوتی       پریا    لاهوتی  Female        0.985
3                Bobby Barrett      Bobby   Barrett    Male        0.953
4                 Stacy Garcia      Stacy    Garcia  Female        0.925
..                         ...        ...       ...     ...          ...
95  سرکار خانم دکتر رها تهرانی      سرکار    تهرانی    None          NaN
96                 Andrew Khan     Andrew      Khan    Male        0.991
97                   زينب یزدی       زينب      یزدی  Female        0.923
98               Eric Anderson       Eric  Anderson    Male        0.992
99                 زينب مهدیان       زينب    مهدیان  Female        0.923

[100 rows x 5 columns]

In [262]:
def name_to_country(name, predict=False):
    info = name_stat.search(name)['first_name']
    if info is None:
        return None
    
    country_name = max(info['country'], key=info['country'].get)
    
    if predict:
        return info['country'][country_name]
    
    return country_name




# countrys = name_stat.search(fake_en_name)['first_name']['country']

In [267]:
my_DataFrame["country"] = my_DataFrame["First name"].apply(lambda country: name_to_country(country))

In [268]:
my_DataFrame["country prop"] = my_DataFrame["First name"].apply(lambda name: name_to_country(name, predict=True))

# final product

In [270]:
my_DataFrame

,name,First name,last name,gender,gender prop,country,country prop
0,Benjamin Dyer,Benjamin,Dyer,Male,0.992,France,0.345
1,Angela Morrison,Angela,Morrison,Female,0.992,Italy,0.506
2,پریا لاهوتی,پریا,لاهوتی,Female,0.985,"Iran, Islamic Republic of",0.681
3,Bobby Barrett,Bobby,Barrett,Male,0.953,United States,0.613
4,Stacy Garcia,Stacy,Garcia,Female,0.925,United States,0.694
...,...,...,...,...,...,...,...
95,سرکار خانم دکتر رها تهرانی,سرکار,تهرانی,None,NaN,None,NaN
96,Andrew Khan,Andrew,Khan,Male,0.991,United States,0.381
97,زينب یزدی,زينب,یزدی,Female,0.923,Iraq,0.474
98,Eric Anderson,Eric,Anderson,Male,0.992,United States,0.363
99,زينب مهدیان,زينب,مهدیان,Female,0.923,Iraq,0.474